.future-card {
  background: #343549;
  border-radius: 12px;
  padding: 3rem;

  box-shadow: 20px 35px 70px rgba(0, 0, 0, 0.04);
}

.future-card__div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.future-card__div img {
  width: 50px;
  height: 50px;
}

.future-card__div h4 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--color-text-primary);
  margin-bottom: 0;
}

.future-card__div p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: -0.01em;
  color: var(--color-text-secondary);
  margin-top: 3rem;
}

.future-card__div a {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 0.1em;
  color: var(--color-text-links);
  margin-top: 2rem;
  text-decoration: none;
}

.future-card__div a:visited {
  color: var(--color-text-links);
}

.future-card__div a:hover {
  color: #a5a7e2;
}

@media screen and (max-width: 650px) {
  .future-card__div p {
    max-width: 250px;
  }
}

@media screen and (max-width: 560px) {
  .future-card__div h4 {
    font-size: 2.2rem;
    line-height: 2.7rem;
  }
}
