.help {
  margin-top: 14rem;
}

.help-title h2 {
  color: var(--color-text-primary);
  font-weight: 700;
  font-size: 5rem;
  line-height: 6rem;
  text-align: center;
  margin-bottom: 0;
}

.help-title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: var(--color-text-secondary);
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.help-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
