.subscribe {
  margin: 16rem 0 5rem;
}

.subscribe__container {
  background: linear-gradient(120deg, #343549 55%, #27283a 45%);
  box-shadow: 0px 30px 70px -20px rgba(0, 0, 0, 0.02);
  border-radius: 24px;

  padding: 3rem 9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  width: 100%;
}

.subscribe__content {
  flex: 2;
}

.subscribe__content h4 {
  font-weight: 500;
  font-size: 3.4rem;
  line-height: 4rem;
  letter-spacing: -0.01em;
  color: var(--color-text-primary);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.subscribe__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: var(--color-text-secondary);
  max-width: 450px;
}

.subscribe__input {
  margin-left: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.subscribe__input input {
  background: #3e3e54;
  border-radius: 12px 0px 0px 12px;
  border: none;
  outline: none;
  padding: 1.5rem 2rem;
  color: #fff;
  font-size: 1.6rem;
  flex: 1;
  box-shadow: inset 3px 0px 5px rgba(0, 0, 0, 0.5);
}

.subscribe__input button {
  padding: 1.5rem 3rem;

  background: linear-gradient(180deg, #6d6d8a 0%, #37374a 100%);
  box-shadow: 0px 139.947px 111.957px rgba(0, 0, 0, 0.25),
    0px 90.7062px 65.5676px rgba(0, 0, 0, 0.189815),
    0px 53.9054px 35.6605px rgba(0, 0, 0, 0.151852),
    0px 27.9893px 18.1931px rgba(0, 0, 0, 0.125),
    0px 11.4031px 9.12245px rgba(0, 0, 0, 0.0981481),
    0px 2.5916px 4.40573px rgba(0, 0, 0, 0.0601852);
  border-radius: 0px 12px 12px 0px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  flex: 0.1;
}

@media screen and (max-width: 1026px) {
  .subscribe {
    margin: 10rem 0 5rem;
  }
  .subscribe__container {
    flex-direction: column;
  }

  .subscribe__content h4 {
    text-align: center;
  }

  .subscribe__content p {
    text-align: center;
    margin-bottom: 3rem;
  }

  .subscribe__input {
    margin: 0 auto;
  }
}

@media screen and (max-width: 798px) {
  .subscribe__container {
    padding: 2rem 2rem 4rem;
  }

  .subscribe__input {
    width: 100%;
  }

  .subscribe__content {
    flex: 0;
  }
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 550px) {
  .subscribe__input input {
    padding: 1.5rem 1rem;
  }

  .subscribe__input button {
    padding: 1.5rem 2rem;
  }
}

@media screen and (max-width: 480px) {
  .subscribe__input {
    flex-direction: column;
  }

  .subscribe__input input {
    border-radius: 12px;
    margin-bottom: 2rem;
  }

  .subscribe__input button {
    border-radius: 12px;
  }
}
