.testimonial {
  margin-top: 18rem;
  margin-bottom: 4rem;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial-container h2 {
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 5.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text-primary);
  margin-bottom: 2rem;
}

.testimonial-container p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: center;
  letter-spacing: 0.015em;
  color: var(--color-text-secondary);
}

.testimonial__card {
  background: #343549;
  box-shadow: 0px 55px 80px -10px rgba(0, 0, 0, 0.04);
  border-radius: 16px;

  max-width: 570px;
  margin-top: 9rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  padding: 2rem 3rem;
}

.user-image {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -30px;
}

.star-review {
  width: 118px;
  height: 22px;
  margin-top: 3rem;
}

.testimonial__card h4 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  color: var(--color-text-primary);
  margin-bottom: 1rem;
}

.testimonial__card p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: center;
  color: var(--color-text-secondary);
}

@media screen and (max-width: 650px) {
  .testimonial-container h2 {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
}

@media screen and (max-width: 560px) {
  .testimonial-container h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
}
