.mediablock {
  padding: 0 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mediablock:nth-child(even) {
  flex-direction: row-reverse;
}

.mediablock img {
  max-width: 530px;
}

.mediablock-content {
  margin-left: 3rem;
}

.mediablock-content h4 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.12em;
  margin-bottom: 0;
}

.mediablock-content h3 {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.8rem;
  color: var(--color-text-primary);
  margin: 1rem 0 2rem;
}

.mediablock-content p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.01em;
  color: var(--color-text-secondary);
  margin-bottom: 2rem;
}

.mediablock-content a {
  text-decoration: none;
}

.mediablock-content a p {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.8rem;
  color: #7777d0;
}

.mediablock:nth-child(odd) .mediablock-content:nth-child(2) {
  color: #ff8400;
}

.mediablock:nth-child(even) .mediablock-content:nth-child(2) {
  color: #15c381;
}

@media screen and (max-width: 1023px) {
  .mediablock {
    flex-direction: column;
    margin-bottom: 14rem;
    padding: 0 2rem;
  }

  .mediablock:nth-child(even) {
    flex-direction: column;
  }

  .mediablock-content {
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .mediablock {
    margin-bottom: 8rem;
  }

  .mediablock-content h4 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.12em;
  }

  .mediablock-content h3 {
    font-size: 3.4rem;
    line-height: 4.4rem;
    margin: 1rem 0 2rem;
  }

  .mediablock-content p {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .mediablock-content a p {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}

@media screen and (max-width: 560px) {
  .mediablock-content h3 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .mediablock-content p {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
