.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section__padding {
  padding: 0 7rem;
}

.section__padding-lg {
  padding: 0 13.5rem;
}

@media screen and (max-width: 680px) {
  .section__padding {
    padding: 0 5rem;
  }

  .section__padding-lg {
    padding: 11rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 0 2rem;
  }

  .section__padding-lg {
    padding: 0 8rem;
  }
}

/* Animations */
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
