@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-bg: #2e2e3e;
  --color-bg-light: #343549;
  --color-btn: #333363;
  --color-text-primary: #787aa5;
  --color-text-secondary: #5c5d75;
  --color-text-highlight: #b985fb;
  --color-text-links: #7777d0;
  --color-links-hover: #a5a7e2;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background: var(--color-bg);
  margin: 0;
  padding: 0;
}
